body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a:link:hover{
    text-decoration: none;
}
.nav_bar{
    width: 100%;
    height: 100px;
    /* outline: 1px solid red; */
    background-color: #1f203a;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav_icon{
    color: white;
    width: 24px;
    height: 24px;
    margin-right: 100px;
}
.nav_icon:hover{
    color: #ffa54d;
}
.nav_icon1{
    width: 60px;
    height: 60px;
    color: white;
    margin-left: 100px;
}
.head{
    /* position: relative; */
    width: 100%;
    height: 400px;
    background-color: #f2f2f2;
}
.head_img{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    background-image: url(../img/head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border: 10px solid white ;
    margin-left: auto;
    margin-right: auto;
    margin-top: -340px;   
}
.portfolio{
    width: 100%;
    height: 900px;
    /* outline: 1px solid red; */
    text-align: center;
}
.portfolio_name{
    width: 550px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 300;
    font-size: 3rem;
    color: #212529;
    letter-spacing: 4px;
}
.portfolio_name_span{
    font-weight: 700;
}
.portfolio_coment{
    text-transform: uppercase;
    color: #111111;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

}
.images_p{
    margin-top: 20px;
    color: #111111;
    font-size: 18px;
    margin-bottom: 30px;
}
.freepik_hover{
    color: #111111 !important;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    

}
.freepik_hover:hover{
    border: none;
}
.read_more_btn{
    
    text-transform: uppercase;
    font-weight: 700;
    color: #000000 !important;
    border-bottom: 2px solid #000000;
    letter-spacing: 2px;
    padding-bottom: 4px;
    
   
}
.read_more_btn:hover{
    border: none;
}
.designer{
    width: 100%;
    height: 400px;
    background-color: #e5e5e5;
    position: relative;
}
.designer_name{
    position: absolute;
    left: 100px;
    top: -460px;
    font-size: 4.5rem;
    font-weight: 300;
    color: #111111;
}
.design_name_span{
    font-weight: 700;
}
.design_img_1{
    position: absolute;
    left: 100px;
    top: -300px;
    width: 545px;
    height: 590px;

}
.design_img_2{
    position: absolute;
    right: 100px;
    top: -490px;
    width: 545px;
    height: 611px;

}
.desgin_link{
    position: absolute;
    left: 704px;
    top: 160px;
    margin: 0;
}
.btn_read{
    position: absolute;
    left: 704px;
    top: 215px;
    text-transform: uppercase;
    color: #454545 !important;
    border: 2px solid #454545;
    padding: 10px 45px;
    background-color: transparent;
}
.btn_read:hover{
    border-color: transparent;
}
.build{
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    height: auto;
    /* align-items: center; */
}
.box1{
    display: flex;
    width: 900px;
    height: 700px;
    /* outline: 1px solid red; */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 6px solid #454545;

}
.box{
    /* outline: 1px solid red; */
    width: 50%;
    height: 500px;
}

.box_l p{
    padding-top: 180px;
    padding-bottom: 25px;
    color: #111111;
    width: 350px;
    padding-left: 30px;
    
}
.btn_read_yellow{
    margin-left: 30px;
    color: white !important;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ff942c !important;
    padding: 10px 45px;
    line-height: 2px;
}
.btn_read_yellow:hover{
    background-color: #ce7e2e !important;
}
.box_r{
    text-align: right;
}
.box_r h1{
    font-size: 8.125rem;
    font-weight: 300;
    /* margin: 20px 0 0; */
    padding-right: 30px;
}
.inspired h2{
    line-height: 1.6;
    font-size: 3rem;
    margin: 46px 229px 0;
    text-align: center;
}
.arrow_l{
    color: #1f203a;
    font-size: 64px !important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* height: 70px; */
    margin-top: 30px;
}
.inspired p{
    width: 200px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}
.smart{
    width: 100%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.smatr_box{
    /* outline: 1px solid red; */
    width: 33.33%;
    height: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
    background-image: url(../img/portfolio1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-transform: uppercase;
    font-size: 1.875rem;
    font-weight: 400;
    color:transparent;
}

.smatr_box:hover{
    background-image: linear-gradient(0deg, rgba(255,165,77,1), rgba(255,165,77,1));
    color:white;
    
}
.s_b2{
    background-image: url(../img/portfolio2.jpg);
}
.s_b3{
    background-image: url(../img/portfolio3.jpg);
}
.s_b4{
    background-image: url(../img/portfolio4.jpg);
    background-size: cover;
}
.s_b5{
    background-image: url(../img/portfolio5.jpg);
}
.s_b6{
    background-image: url(../img/portfolio6.jpg);
}
.s_b7{
    background-image: url(../img/portfolio7.jpg);
}
.s_b8{
    background-image: url(../img/portfolio8.jpg);
}
.s_b9{
    background-image: url(../img/portfolio9.jpg);
    background-size: cover;
}
.info{
    margin-top: 20px;
    width: auto;
    height: auto;
    /* outline: 1px solid red; */
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}
.btn_more{
    margin: 0;
    margin-bottom: 25px;
    color: white !important;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ff942c !important;
    padding: 20px 30px;
    line-height: 2px;
    /* border: 1px solid red; */
}
.btn_more:hover{
    background-color: #ce7e2e !important;
}
.big_box{
    /* outline: 1px solid red; */
    width: 100%;
    height: 500px;
    display: flex;
    /* margin-bottom: 30px; */
    margin-top: 80px;
}
.big_left{
    width: 50%;
    height: 100%;
    /* outline: 1px solid red; */
}
.big_right{
    width: 50%;
    height: 100%;
    /* outline: 1px solid red; */

}
.left_name{
    font-size: 2.25rem;
    font-weight: 700;
    width: 430px;
}
.left_name_span{
    font-weight: 300;
}
.left_coment{
    line-height: 2;
    height: 160px;
    width: 520px;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.btn_left{
    color: white !important;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ff942c !important;
    padding: 10px 45px;
    line-height: 2px;
    margin-top: 25px;
}
.btn_left:hover{
    background-color: #ce7e2e !important;
}
.right_coment{
    text-align: right;
    line-height: 2;
    height: 160px;
    width: 520px;
    font-size: 18px;
    margin-left: auto;
    margin-top: 250px;
}
.footer{
    width: 100%;
    height: 400px;
    background-image:  linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/footer.jpg);
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fotter_coment{
    width: 670px;
    font-size: 1.30rem;
    text-align: center;
    color: #ffffff;

}
.foter_menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 320px;

}
.foter_item{
    padding: 20px;

}
.foter_link{
    color: #ffffff !important;
    font-size: 40px;
}
.foter_frep{
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 18px;
}
.foter_frep_link{
    color: #ffffff !important;
    border-bottom: 1px solid white;
}
.foter_frep_link:hover{
    border: none;
}
.sample{
    width: 100%;
    height: 140px;
    background-color: #1f203a;
    display: flex;
    align-items: center;
}
.sample_txt{
    color: white;
    width: 440px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.web{
    width: 100%;
    height: 100px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.web_txt{
    color: white;
}
.web_txt a{
    color: grey !important;
    border-bottom: 1px solid grey;
}
.web_txt a:hover{
    border: none;
}
